#!/bin/bash
#SBATCH -J op#{INDEX}
#SBATCH --ntasks=100
#SBATCH --mail-type=end
#SBATCH --mail-user=harish_p.jain@mailbox.tu-dresden.de
#SBATCH --time=15:00:00
#SBATCH --error=/beegfs/ws/1/haja565a-workspace/phd10052022/outd#{INDEX}.err
#SBATCH --output=/beegfs/ws/1/haja565a-workspace/phd10052022/outd#{INDEX}.out
#SBATCH -A wir
#SBATCH -p haswell
#SBATCH --mem-per-cpu=2500

module load amdis
srun /home/haja565a/softwares/cell_growth_division/build/divisionless_model #{INIT_FILE}